extends layout

block scripts
  script(src='/javascripts/big.js')
  script(src='/javascripts/soundmanager2.js')
  script(src='/javascripts/zeroTimeout.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/edit.js')
block heading
  h1= title
  p Editing #{title}

block content
  div.row
    div.span1
    div.span10
      form.form-inline(method="POST")
        input#songid(type="hidden", value=songid)
        input#filepath(type="hidden", value=path)
        label Title
          input#title(type="text", name="songtitle", placeholder="Title", value=title)
        label Filename
          input#filename(type="text", name="songfile", placeholder="filename.mp3", value=songfile)
        button#save.btn.btn-inverse Save
  div.row
    div.span1
    div.span5
      button#play.btn.btn-primary Play
      button#pause.btn.btn-warning Pause
      button#restart.btn.btn-danger Restart
    div.span5
      button#steps.btn.btn-primary Add steps
      button#steps-clear.btn.btn-danger Clear
      button#generate.btn.btn-info Generate
    div.span1
  div.row
    div.span12
      div#stepmapview
